body {
  background-color: #dadada;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  margin: 3rem;
  background-color: white;
  padding: 2rem;
  
  width: 90vw;
}

.container h2 {
  color: rgb(24, 20, 80);
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.student h4 {
  color: rgb(67, 68, 68);
  text-transform: uppercase;
}

.red {
  color: red;
}

.red {
  color: rgb(8, 48, 18);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4484FF;
  
 
}

.menu {
  display: flex;
  color: rgb(122, 122, 122);
  padding: 0 5rem;

 
}

.menu li{
  list-style: none;
  margin-left: 5rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

/* .menu li:hover{
  background-color: rgba(250, 250, 250, 0.404);
  border-radius: 1rem 1rem 0 0 ;
  
} */

.menu li a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1rem 1rem 0 0 ;
  text-transform: uppercase;
  
}

.logo {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1;
  padding: 2rem 4rem;
  color: white;
}

.logo span {
  color: black;
  font-size: 2rem;
}

.selected {
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

a:hover {
  border-bottom: 1px solid rgb(49, 49, 49);
  padding-bottom: 1rem;
}

.student {
  border-bottom: 1px solid rgb(223, 221, 221);
}

.button {
  background-color: #4484FF ;
  padding: 1rem 2rem;
  border: none;
  color: white;
  margin-top: 2rem;
  font-size: 1rem;
}

h4 {
  font-size: 1.2rem;
}